body {
    background-color: rgb(238, 189, 54);
    font-family: 'Courier New', Courier, monospace;
}

section {
    background-color: rgb(194, 187, 187);
    padding: 15px;
    margin: 20px;
}

h2 {
    color: rgb(255, 254, 254);
}

h1 {
    color: rgb(125, 132, 138);
    text-align: center;
}

p {
    font-size: large;
color: rgb(255, 255, 255);
}

section {
    background-color: #0b3252;
    font-style: inherit;
    color: aliceblue;
    padding: 20px;
    margin: 20px;
    border-radius: 2px solid black;
}
p {
    margin-top: 10px;
}